*.class
*/.*
*/.settings/*
*/target/*
*/.settings/
*/.project

/.settings/
/.project

/portal-email/.settings/
/portal-email/target/
/portal-email/.classpath
/portal-email/.project

/portal-email-api/.settings/
/portal-email-api/target/
/portal-email-api/.classpath
/portal-email-api/.project

/portal-email-simple/.settings/
/portal-email-simple/target/
/portal-email-simple/.classpath
/portal-email-simple/.project

/portal-query-statistics/.settings/
/portal-query-statistics/target/
/portal-query-statistics/.classpath
/portal-query-statistics/.project

/portal-query-statistics-api/.settings/
/portal-query-statistics-api/target/
/portal-query-statistics-api/.classpath
/portal-query-statistics-api/.project

/portal-query-statistics-simple/.settings/
/portal-query-statistics-simple/target/
/portal-query-statistics-simple/.classpath
/portal-query-statistics-simple/.project

/portal-common/.settings/
/portal-common/target/
/portal-common/.classpath
/portal-common/.project

/portal-sms/.settings/
/portal-sms/target/
/portal-sms/.classpath
/portal-sms/.project

/portal-sms-api/.settings/
/portal-sms-api/target/
/portal-sms-api/.classpath
/portal-sms-api/.project

/portal-sms-simple/.settings/
/portal-sms-simple/target/
/portal-sms-simple/.classpath
/portal-sms-simple/.project

/portal-system/.settings/
/portal-system/target/
/portal-system/.classpath
/portal-system/.project

/portal-system-api/.settings/
/portal-system-api/target/
/portal-system-api/.classpath
/portal-system-api/.project

/portal-system-simple/.settings/
/portal-system-simple/target/
/portal-system-simple/.classpath
/portal-system-simple/.project

